# Server Config
MAIN_SERVER=IP_MAIN_HERE

# KAFKA CONFIG
KAFKA_SERVER=IP_KAFKA_HERE
KAFKA_PORT=9092
KAFKA_TOPIC=soc-raw-logs

# CLICKHOUSE CONFIG
CH_HOST=localhost
CH_PORT=8123
CH_USER=default
CH_PASS=your_password_here

#port 8000 is for backend, port 8080 is for frontend, and IP_MAIN_HERE is the main server's IP address 
ALLOWED_ORIGINS=http://localhost:8000,http://KAFKA_SERVER_IP_HERE,http://IP_MAIN_HERE:8080,http://IP_MAIN_HERE 

# POSTGRESQL CONFIGURATION
PG_USER=soc_admin
PG_PASS=YOUR_PASSWORD_HERE
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DB=soc_main_db

# Chuỗi kết nối dùng cho thư viện SQLAlchemy chuẩn bị cài đặt
DATABASE_URL=postgresql://${PG_USER}:${PG_PASS}@${PG_HOST}:${PG_PORT}/${PG_DB}